<% content_for :javascript_code do %>
	<%= js_render_partial_pagination %>
<% end %>
<div id="search">
	<%= render :partial => 'search' %>
</div>
<div id="users">
	<%= render :partial => 'users' %>
</div>
